<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{{ include_list.img_1.url }}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{{ include_list.img_2.url }}" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{{ include_list.img_3.url }}">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{{ include_list.img_4.url }}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">{{  include_list.name }}</h5>
                <h1 class="mb-4">{{ include_list.text_1 }} <i class="fa fa-utensils text-primary me-2"></i>{{ include_list.text_2 }}</h1>
                <p class="mb-4">{{ include_list.text_3 }}</p>
                <p class="mb-4">{{ include_list.text_4 }}</p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">{{ include_list.text_5 }}</h1>
                            <div class="ps-4">
                                <p class="mb-0">{{ include_list.text_6 }}</p>
                                <h6 class="text-uppercase mb-0">{{ include_list.text_7 }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">{{ include_list.text_8 }}</h1>
                            <div class="ps-4">
                                <p class="mb-0">{{ include_list.text_9 }}</p>
                                <h6 class="text-uppercase mb-0">{{ include_list.text_10 }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">{{ include_list.text_11 }}</a>
            </div>
        </div>
    </div>
</div>